<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout(content)">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css} " />
<link th:rel="stylesheet" th:href="@{/css/style.css}" />

<title th:text="${title}">Base html!</title>
</head>

<div th:replace="${content}"></div>

<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/jquery-3.5.1.slim.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>

</html>